<div class="field">
    <%= f.label :open_time %><br />
    <%= f.date_select :open_time %>
  </div>
  <div class="field">
    <%= f.label :close_time %><br />
    <%= f.date_select :close_time %>
  </div>