<h2>Business Owner View</h2>

<ul>
  <h2>To Do:</h2>
    <li>Last 5 Appointments</li>
    <li>Upcoming Appointments</li>
    <li>Links to different management stuff</li>
     --><li>Link to Product Store/Add/Edit/Destroy Products</li>
     --><li>Edit Calendar</li>
     --><li>Create a way to send emails to customers about promotions.</li>

     <%= link_to 'Create Business', new_business_path %>
     <% @current_user_businesses.each do |business| %>
       <%= link_to "#{business.name}", business_path(business.id) %>
     <% end %>
</ul>

