<h2>Customer View</h2>

<ul>
  <h3>To Do:</h3>
    <li>Form for user to create new appointment</li>
    <li>Customer Loyalty points</li>
    <li>List of past businesses the customer has been to</li>
    <li>Currently scheduled appointments</li>
</ul>

